.dropdown {
    position: relative;
    width: 300px;
  
    &__input-container {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
      border: 1px solid #ccc;
      padding: 0.5rem;
      border-radius: 0.5rem;
  
      input {
        border: none;
        outline: none;
        padding: 0.5rem;
        flex-grow: 1;
      }
    }
  
    &__options-container {
      position: absolute;
      top: 100%;
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      background-color: white;
      z-index: 1;

      &::-webkit-scrollbar {
        width: 8px;
      }
    
      &::-webkit-scrollbar-track {
        background: #f0f0f0;
        border-radius: 10px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #7b7b7b; 
        border-radius: 10px;
        border: 2px solid #f0f0f0;
      }
    
      &::-webkit-scrollbar-thumb:hover {
        background-color: #7b7b7b;
      }
    }
  }