.dropdown {
    position: relative;
    width: 300px;
  
    &__input-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 4px;
      border: 1px solid #ccc;
      padding: 8px;
      border-radius: 16px;
      
      input {
        border: none;
        outline: none;
        padding: 8px;
        flex-grow: 1;
      }
    }

    &__arrow {
      cursor: pointer;
    }
  
    &__options-container {
      position: absolute;
      top: 110%;
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
      border: 1px solid #ccc;
      border-radius: 8px;
      background-color: white;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 8px;
      box-sizing: border-box;
      padding: 8px;

      &::-webkit-scrollbar {
        width: 8px;
      }
    
      &::-webkit-scrollbar-track {
        background: #f0f0f0;
        border-radius: 10px;
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: #7b7b7b; 
        border-radius: 10px;
        border: 2px solid #f0f0f0;
      }
    
      &::-webkit-scrollbar-thumb:hover {
        background-color: #7b7b7b;
      }
    }
  }